html,
body {
  height: 100%;
  margin: 0;
  background-color: hsl(217, 54%, 11%);
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.card-body {
  display: flex;
  width: 280px;
  height: 470px;
  padding: 15px;
  border-radius: 12px;
  background-color: hsl(216, 50%, 16%);
  box-shadow: 0 30px 10px 10px hsl(217, 54%, 9%);
}
.container-e {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  font-family: "Outfit", sans-serif;
}
.image-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 275px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 1;
}
.eye{
  position: absolute;
  z-index: 2;
  visibility: hidden;
}
.img-size {
  width: 100%;
  height: 275px;
  border-radius: 6px;
}
.container-text {
  display: flex;
  font-size: 19px;
  margin-top: 12px;
  width: 100%;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
}
.container-description {
  display: flex;
  font-size: 16px;
  margin-top: 12px;
  font-weight: 400px;
  color: hsl(216, 24%, 38%);
}
.container-details {
  display: flex;
  width: 100%;
  margin-top: 13px;
  justify-content: space-between;
}
.text-eth {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 88px;
  color: hsl(194, 67%, 56%);
}
.text-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 10px;
  color: hsl(216, 24%, 38%);
}
hr {
  display: flex;
  width: 100%;
  margin-top: 20px;
  border-color: hsl(215, 32%, 27%);
}
.container-profile {
  display: flex;
  align-items: center;
  font-size: 15px;
  width: 100%;
}
.size-profile {
  display: flex;
  width: 30px;
  height: 30px;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}
.position-img {
  display: flex;
  align-items: center;
}
.profile-name {
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  margin-left: 10px;
  width: 100%;
}
.name-user {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
}
.name-user:hover {
  color: hsl(194, 67%, 56%);
}
.container-text:hover {
  color: hsl(194, 67%, 56%);
}


.image-icon:hover {
  background-color: hsl(194, 67%, 56%);
  .eye{
    visibility: visible;
  }
  .img-size{
    opacity: 50%;
  }
}

.eye:hover{
  visibility: visible;
  .image-icon{
    background-color: hsl(194, 67%, 56%);
  }
  .img-size{
    opacity: 50%;
  }
}
